<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <title>My Blog</title>
</head>
<body>

    <!--navbar-->
    @Html.Partial("_Navbar")
    @Html.Partial("_Search")
    @Html.Partial("_backtotop")

    @RenderBody()

    <!--footer-->
    @Html.Partial("_Footer")

    <script>

        // back to top

        let calcScrollValue = () => {
            let scrollProgress = document.getElementById("progress");
            let progressValue = document.getElementById("progress-value");
            let pos = document.documentElement.scrollTop;
            let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round((pos * 100) / calcHeight);

            if (pos > 100) {
                scrollProgress.style.display = "grid";
            } else {
                scrollProgress.style.display = "none";
            }

            scrollProgress.addEventListener("click", () => {
                document.documentElement.scrollTop = 0;
            });

            scrollProgress.style.background = `conic-gradient(#03cc65 ${scrollValue}%, #d7d7d7 ${scrollValue}%)`;
        };

        window.onscroll = calcScrollValue;
        window.onload = calcScrollValue;

        // list or grid

        $('#grid-button').on('click', function () {
            $('#list-cards').hide();
            $('#grid-cards').show();
        });

        $('#list-button').on('click', function () {
            $('#grid-cards').hide();
            $('#list-cards').show();
        });

        $(document).ready(function () {
            var selectedButton = localStorage.getItem('selectedButton') || 'grid-button';
            $("#" + selectedButton).addClass("active");

            $("#list-button").click(function () {
                $(this).addClass("active");
                $("#grid-button").removeClass("active");
                localStorage.setItem('selectedButton', 'list-button');
            });

            $("#grid-button").click(function () {
                $(this).addClass("active");
                $("#list-button").removeClass("active");
                localStorage.setItem('selectedButton', 'grid-button');
            });

            $("#" + selectedButton).click();
        });

        // search
        var searchIcon = document.getElementById('search-icon');
        var searchOverlay = document.getElementById('search-overlay');

        searchIcon.addEventListener('click', function () {
            searchOverlay.style.display = 'flex';
        });

        searchOverlay.addEventListener('click', function (event) {
            if (event.target === searchOverlay) {
                searchOverlay.style.display = 'none';
            }
        });

    </script>
</body>
</html>