@model BlogApp.Models.ProfilGuncelleme
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <div class="row">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a class="link-dark" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Account</li>
            </ol>
        </nav>

        <div class="col-md-9">

            <!--form-->
            <h3 class="col-md-12 text-center text-md-start"><i class="fa-solid fa-user"></i> My Profile</h3>
            <hr />

            @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "row" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="row text-center mt-3">
                    <label class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <label class="col-md-2 col-form-label">Surname</label>
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <label class="col-md-2 col-form-label">Username</label>
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <label class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row text-center my-3">
                    <label class="col-md-2 col-form-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-dark col-6">Update</button>
                        <a href="/Account/SifreDegistir" class="link-dark">Change Password</a>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-3">

            <!--search-->
            @*@Html.Partial("_Search")*@

            <!--category-->
            @Html.Action("KategoriListesi", "Kategori")

            <!--most read blogs-->
            @Html.Action("EnCokOkunan", "Home")

        </div>
    </div>
</div>

