@model BlogApp.Models.SifreDegistirme
@{
    ViewBag.Title = "SifreDegistir";
}

<div class="container">
    <div class="row">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a class="link-dark" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="link-dark" href="/Account/Profile">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </nav>

        <div class="col-md-9">

            <!--form-->
            <h3 class="col-md-12 text-center text-md-start"><i class="fa-solid fa-user"></i> Change Password</h3>
            <hr />

            @using (Html.BeginForm("SifreDegistir", "Account", FormMethod.Post, new { @class = "row" }))
            {
                @Html.AntiForgeryToken()
                <div class="row text-center mt-3">
                    <label class="col-md-2 col-form-label">Old Password</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <label class="col-md-2 col-form-label">New Password</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <label class="col-md-2 col-form-label">New Password</label>
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.ReNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.ReNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row text-center my-3">
                    <label class="col-md-2 col-form-label"></label>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-dark col-6">Change</button>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-3">

            <!--search-->
            @*@Html.Partial("_Search")*@

            <!--category-->
            @Html.Action("KategoriListesi", "Kategori")

            <!--most read blogs-->
            @Html.Action("EnCokOkunan", "Home")

        </div>
    </div>
</div>

