@model IEnumerable<BlogApp.Models.Blog>
@{
    ViewBag.Title = "BlogListesi";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="d-flex justify-content-between mt-3">
                <p class="h5">Category</p>
                @Html.Partial("_listorgrid")
            </div>

            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning mt-3" role="alert">
                    No blogs found in this category...
                </div>
            }
            <!--card-->
            @Html.Partial("_Card")

        </div>

        <div class="col-md-3">

            <!--search-->
            @Html.Partial("_Search")

            <!--category-->
            @Html.Action("KategoriListesi", "Kategori")

            <!--most read blogs-->
            @Html.Action("EnCokOkunan", "Home")

        </div>
    </div>
</div>

