
@{
    ViewBag.Title = "Detay";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">

            <!--breadcrumb-->
            <div class="mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="link-dark" href="/">Home</a></li>
                        <li class="breadcrumb-item"><a class="link-dark" href="#">@ViewBag.blog.KategoriId</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.blog.Baslik</li>
                    </ol>
                </nav>
            </div>

            <h2 class="mt-3">@ViewBag.blog.Baslik</h2>

            <div>
                <span class="badge rounded-pill text-bg-secondary"><i class="fa-regular fa-clock"></i> @ViewBag.blog.EklenmeTarihi</span>
                <span class="badge rounded-pill text-bg-warning"><i class="fa-regular fa-eye"></i> @ViewBag.blog.Goruntulenme</span>
                <span class="badge rounded-pill text-bg-info"><i class="fa-regular fa-comment"></i> @ViewBag.blog.Goruntulenme</span>
            </div>

            <hr />

            <!--image-->
            <div class="mt-3 text-center">
                <img src="/Content/images/@ViewBag.blog.Resim" class="rounded-3" style="height:25rem; width:40rem;" alt="image">
            </div>

            <h3 class="mt-3 text-center">@ViewBag.blog.Aciklama</h3>

            <p class="mt-3">
                @ViewBag.blog.Icerik
            </p>

        </div>

        <div class="col-md-3">

            <!--search-->
            @Html.Partial("_Search")

            <!--category-->
            @Html.Action("KategoriListesi", "Kategori")

            <!--most read blogs-->
            <h5 class="text-center mt-3">Most Read Blogs</h5>
            <div class="card w-100 mt-2">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/images/card.jpeg" class="img-fluid rounded-start w-100 h-100" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-header">
                            <div class="card-text"><small class="text-body-secondary"><i class="fa-regular fa-clock"></i> 3 mins ago</small></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                        <div class="card-footer">
                            <div class="card-text"><small class="text-body-secondary"><i class="fa-regular fa-eye"></i> 50</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--most read blogs end-->

        </div>
    </div>
</div>

