
@{
    ViewBag.Title = "Detay";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">

            <!--breadcrumb-->
            <div class="mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="link-dark" href="/">Home</a></li>
                        <li class="breadcrumb-item"><a class="link-dark" href="#">@ViewBag.blog.KategoriId</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.blog.Baslik</li>
                    </ol>
                </nav>
            </div>

            <h2 class="mt-3">@ViewBag.blog.Baslik</h2>

            <div>
                <span class="badge rounded-pill text-bg-dark"><i class="fa-regular fa-clock"></i> @ViewBag.blog.EklenmeTarihi</span>
                <span class="badge rounded-pill text-bg-dark"><i class="fa-regular fa-eye"></i> @ViewBag.blog.Goruntulenme View</span>
                <span class="badge rounded-pill text-bg-dark"><i class="fa-regular fa-comment"></i> @ViewBag.blog.Goruntulenme Comment</span>
            </div>

            <!--image-->
            <div class="mt-3 text-center img-thumbnail">
                <img src="/Content/images/@ViewBag.blog.Resim" class="rounded-3" style="height:25rem; width:30rem;" alt="image">
            </div>

            <h5 class="mt-3 text-center">@ViewBag.blog.Aciklama</h5>

            <p class="mt-3">
                @ViewBag.blog.Icerik
            </p>

        </div>

        <div class="col-md-3">

            <!--search-->
            @*@Html.Partial("_Search")*@

            <!--category-->
            @Html.Action("KategoriListesi", "Kategori")

            <!--most read blogs-->
            @Html.Action("EnCokOkunan", "Home")

        </div>
    </div>
</div>

